@charset "ISO-8859-1";

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.container{
	text-align: center;
}

#next_1{
	
	width: 200px;
	margin-left:auto;
	margin-right:auto;
	
}
#error{
	color:red;
}

.grid {
    border: 1px solid black;
    border-width: 1px 0 0 1px;
    margin-left: auto;
    margin-right: auto;
}

.grid div {
    border: 1px solid black;
    border-width: 0 1px 1px 0;
    float: left;
    cursor: pointer;
}


.grid-output {
   
    margin-left: auto;
    margin-right: auto;
}

.grid-output div {
    border-width: 0 1px 1px 0;
    float: left;
    cursor: default;
}


.grid-admin-output {
    border: 1px solid white;
    border-width: 1px 0 0 1px;
    margin-left: auto;
    margin-right: auto;
}

.grid-admin-output div {
	border: 1px solid white;
    border-width: 0 1px 1px 0;
    float: left;
    cursor: default;
}

.gridBox{
	
	width: 20px;
    height: 20px;
	
}
.gridBox-1{
	
	width: 15px;
    height: 15px;
	
}

.gridBox-2{
	
	width: 13px;
    height: 13px;
	
}

.gridBox-3{
	
	width: 10px;
    height: 10px;
	
}

.gridBox-4{
	
	width: 8px;
    height: 8px;
	
}

.selected{
	
	background: #0f0;
}

.selectedPublic{
	
	background: #f02d99;
	color: white !important;
	border: 1px solid #f02d99 !important;
	
}

.spaceSizeSelected{
	background:black !important;
	/*color: #3498db;*/
	color: white;
	/*border:solid 1px #3498db;*/
	/*border:solid 1px black;*/
}

.spaceSizeSelected:hover{
	background:black;
	color: white;
	/*border:solid 1px #3498db;*/
	cursor: not-allowed;
}

.spaceSelection{
	
	display: inline-block;
	margin-top:20px;
	
}

.spaceSelection div{
	
	width:100px;
	float:left;
	margin:10px;
	min-height: 37px;
}
.redbg{
 	 background:red;
}

.C11{
	background: #17f63a;
}

.font-C11{
	font-size: 10px;
}

.C21{
	background: #5a7cfb;
}
.C21-bottom{
	border-bottom: #5a7cfb solid 1px !important;
}

.font-C21{
	font-size: 8px;
	margin-left: -3px;
}

.C12{
	
	background: #b5cd14;
}
.C12-right{
	border-right: #b5cd14 solid 1px !important;
}
.font-C12{
	font-size: 8px;
	margin-left: -3px;
}
.C22{
	
	background: #f02d99;
}

.C22-right{
	border-right:  #f02d99 solid 1px !important;
}
.C22-bottom{
	border-bottom:  #f02d99 solid 1px !important;
}

.font-C22{
	font-size: 10px;
	color:white;
}


.C23{
	
	background: #FF8C00;
}
.C23-right{
	border-right:  #FF8C00 solid 1px !important;
}
.C23-bottom{
	border-bottom:  #FF8C00 solid 1px !important;
}

.font-C23{
	font-size: 10px;
}


.C32{
	
	background: #ee5ed4;
}
.C32-right{
	border-right:  #ee5ed4 solid 1px !important;
}
.C32-bottom{
	border-bottom:  #ee5ed4 solid 1px !important;
}

.font-C32{
	font-size: 10px;
}

.C33{
	
	background: #33a852;
	
}

.C33-right{
	border-right:  #33a852 solid 1px !important;
}
.C33-bottom{
	border-bottom:  #33a852 solid 1px !important;
}

.font-C33{
	font-size: 10px;
}


.C66{
	
	background: #7075c2;
	
}

.C66-right{
	border-right:  #7075c2 solid 1px !important;
}
.C66-bottom{
	border-bottom:  #7075c2 solid 1px !important;
}

.font-C66{
	font-size: 10px;
}

.walkway{
	background: #C0C0C0;
}

.walkwayPublic{
	background: white;
}
.walkway-output{
	border-right: #C0C0C0 solid 1px!important;
	border-bottom:  #C0C0C0 solid 1px !important;
}

.verticalWall{
	padding-left: 7px;
}

.parent {display: table;}

.child {
    display: table-cell;
    vertical-align: middle;
}

.userselected{
	background: yellow;
	border: 1px solid yellow !important;
}

.form input {
	margin-bottom: 5px;
}
.form {
	margin: 20px;
}

.standBooked{
	background: black;
	color:white;
	border: 1px solid black !important;
}

#stand_no_error{
	color:red;
}
.legend{
    font-size: 40px;
}
.booked{
	color: black;
}
.c11-legend{
	color: #17f63a;
}
.c12-legend{
	color: #b5cd14;
}
.c21-legend{
	color: #5a7cfb;
}
.c22-legend{
	color: #f02d99;
}

.c23-legend{
	color: #FF8C00;
}
.c32-legend{
	color: #ee5ed4;
}
.c33-legend{
	color:#33a852;
}
.c66-legend{
	
	color:#7075c2;
	
}
.confirmed-table{
	width: 300px;
	margin-left: auto;
    margin-right: auto;
}

.confirmed-table tr th{
	text-align: center;
}


  /* Tooltip */
   .tooltip > .tooltip-inner {
      background-color: black; 
      color: #FFFFFF; 
      border: 1px solid green; 
      border-radius: 5px;
      padding: 5px;
      font-size: 15px;
      text-align: center;
  }
#floorplan_instruction{
	
	font-size: 21px !important;
}

.top-left{
	    border-top-left-radius: 5px;
}
.top-right{
	border-top-right-radius: 5px;
}
.bottom-left{
	border-bottom-left-radius: 5px;
}

.bottom-right{
	border-bottom-right-radius: 5px;
}

.corner-all{
	border-radius: 5px;
}

.table-summary {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table-summary th, .table-summary td {
    border: 1px solid black;
    padding: 5px;
    
    
}
.move_left{
	margin-top: 20px;
	width:100%;
}

@media only screen and (min-width: 1600px) {
	#gridArea{
		width: 50%;
	    float: left;
	    min-width: 200px;
	    min-height: 300px;
	}
	
	.move_left {
       width: 50%;
       float: left;
    }
    .move_right{
       width: 25%;
       float: right;
    }
}


.rot90 {

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}

.rot180 {

    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}

.rot270 {

    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari 3-8 */
    transform: rotate(270deg);
}
.rotationSelection{
	
	display: inline-block;
	margin-top:20px;
	
}

.rotationSelection div{
	
	width:150px;
	float:left;
	margin:10px;
	min-height: 37px;
}